<a href="https://colab.research.google.com/github/Ashwinkpv/DSA-assignment/blob/main/Case_study_on_Supervised_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Read the dataset to the python environment

In [ ]:
from google.colab import files
upp=files.upload()

Saving iris (1).xls to iris (1).xls

In [ ]:
import pandas as pd
df=pd.read_excel("iris (1).xls")
df

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    NaN  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

#2. Do necessary pre-processing steps.

In [ ]:
df.isnull().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [ ]:
df=df.fillna(method='ffill')
df=df.fillna(method='bfill')

In [ ]:
df.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              150 non-null    float64
 1   SW              150 non-null    float64
 2   PL              150 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Classification'] = le.fit_transform(df['Classification'])

In [ ]:
df['Classification'].unique()

array([0, 1, 2])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              150 non-null    float64
 1   SW              150 non-null    float64
 2   PL              150 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [19]:
x = df.drop('Classification',axis=1)
y = df['Classification']

In [20]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

#3. Find out which classification model gives the best result to predict iris
#species.(also do random forest algorithm)

In [ ]:
#LogisticRegression

In [21]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [22]:
predict=model.predict(xtest)
predict

array([0, 1, 0, 2, 1, 1, 1, 1, 0, 2, 1, 0, 0, 0, 0, 2, 2, 0, 2, 2, 0, 2,
       1, 0, 2, 0, 0, 0, 1, 1])

In [23]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ytest,predict)
accuracy

0.9

In [ ]:
#DecisionTreeClassifier

In [24]:
from sklearn.tree import DecisionTreeClassifier
model_dec = DecisionTreeClassifier()
model_dec.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [25]:
prediction_dec = model_dec.predict(xtest)
prediction_dec

array([0, 1, 0, 2, 1, 1, 1, 1, 0, 2, 1, 0, 0, 0, 0, 2, 2, 0, 2, 2, 0, 2,
       1, 0, 2, 0, 0, 0, 1, 1])

In [26]:
from sklearn.metrics import accuracy_score
dec_acc = accuracy_score(ytest,prediction_dec)
dec_acc

0.9

In [ ]:
# RandomForestClassifier

In [27]:
from sklearn.ensemble import RandomForestClassifier
model_rand = RandomForestClassifier()
model_rand.fit(xtrain,ytrain)
pred = model.predict(xtest)
pred

array([0, 1, 0, 2, 1, 1, 1, 1, 0, 2, 1, 0, 0, 0, 0, 2, 2, 0, 2, 2, 0, 2,
       1, 0, 2, 0, 0, 0, 1, 1])

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,pred)*100

90.0

In [29]:
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix

In [30]:
confusion_matrix(ytest,predict)

array([[13,  0,  0],
       [ 0,  9,  3],
       [ 0,  0,  5]])

In [31]:
accuracy_score(ytest,predict)

0.9

In [32]:
confusion_matrix(ytest,prediction_dec)

array([[13,  0,  0],
       [ 0,  9,  3],
       [ 0,  0,  5]])

In [33]:
accuracy_score(ytest,prediction_dec)

0.9

In [34]:
confusion_matrix(ytest,pred)

array([[13,  0,  0],
       [ 0,  9,  3],
       [ 0,  0,  5]])

In [35]:
accuracy_score(ytest,pred
               )

0.9

In [ ]:
# All these classification models gives better result