<a href="https://colab.research.google.com/github/Ashwinkpv/DSA-assignment/blob/main/DSA_StudentsPerformance_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded=files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv

In [2]:
import pandas as pd
df=pd.read_csv('StudentsPerformance.csv')

In [3]:
df

     gender race/ethnicity  ... reading score writing score
0    female        group C  ...            17            10
1    female        group B  ...            24            23
2    female        group B  ...            32            28
3    female        group B  ...            38            32
4    female        group C  ...            39            33
..      ...            ...  ...           ...           ...
995    male        group E  ...            87            81
996    male        group A  ...            96            86
997    male        group D  ...            97            99
998    male        group E  ...           100            93
999    male        group E  ...           100           100

[1000 rows x 8 columns]

#1. Find out how many males and females participated in the test.

In [4]:
df.groupby('gender').size()

gender
female    518
male      482
dtype: int64

#2.What do you think about the students' parental level of education?

In [5]:
df.groupby('parental level of education').size()

parental level of education
associate's degree    222
bachelor's degree     118
high school           196
master's degree        59
some college          226
some high school      179
dtype: int64

##3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course

In [6]:
df.groupby('gender')['math score'].mean()

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [7]:
df.groupby('gender')['reading score'].mean()

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [8]:
df.groupby('gender')['writing score'].mean()

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

In [9]:
df.groupby('test preparation course')['math score'].mean()

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [10]:
df.groupby('test preparation course')['reading score'].mean()

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [11]:
df.groupby('test preparation course')['writing score'].mean()

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

##4. What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course

In [13]:
import statistics

In [16]:
df.groupby('gender')['math score'].var()

gender
female    256.958593
male      211.889097
Name: math score, dtype: float64

In [17]:
df.groupby('gender')['reading score'].var()

gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64

In [18]:
df.groupby('gender')['writing score'].var()

gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

In [20]:
df.groupby('test preparation course')['math score'].var()

test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64

In [21]:
df.groupby('test preparation course')['reading score'].var()

test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64

In [22]:
df.groupby('test preparation course')['writing score'].var()

test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

##5. The management needs your help to give bonus points to the top 25% of
students based on their maths score, so how will you help the management
to achieve this.

In [23]:
df.nlargest(250,['math score'])

     gender race/ethnicity  ... reading score writing score
515  female        group E  ...            92            97
516  female        group E  ...           100           100
517  female        group E  ...           100           100
996    male        group A  ...            96            86
997    male        group D  ...            97            99
..      ...            ...  ...           ...           ...
428  female        group D  ...            86            86
429  female        group E  ...            79            80
849    male        group A  ...            67            68
850    male        group C  ...            67            64
851    male        group D  ...            62            62

[250 rows x 8 columns]