<a href="https://colab.research.google.com/github/Ashwinkpv/DSA-assignment/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving titanic.csv to titanic.csv

In [ ]:
import pandas as pd
df=pd.read_csv("titanic.csv")

In [ ]:
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
df=df.fillna(method='ffill')
df=df.fillna(method='bfill')

In [ ]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df=df.drop('Name',axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])
df['Embarked']=le.fit_transform(df['Embarked'])
df['Cabin']=le.fit_transform(df['Cabin'])
df['Ticket']=le.fit_transform(df['Ticket'])

In [ ]:
df

     PassengerId  Survived  Pclass  Sex  ...  Ticket     Fare  Cabin  Embarked
0              1         0       3    1  ...     523   7.2500     81         2
1              2         1       1    0  ...     596  71.2833     81         0
2              3         1       3    0  ...     669   7.9250     81         2
3              4         1       1    0  ...      49  53.1000     55         2
4              5         0       3    1  ...     472   8.0500     55         2
..           ...       ...     ...  ...  ...     ...      ...    ...       ...
886          887         0       2    1  ...     101  13.0000     70         2
887          888         1       1    0  ...      14  30.0000     30         2
888          889         0       3    0  ...     675  23.4500     30         2
889          890         1       1    1  ...       8  30.0000     60         0
890          891         0       3    1  ...     466   7.7500     60         1

[891 rows x 11 columns]

In [ ]:
x=df.drop('Survived',axis=1) 
y=df['Survived']

In [ ]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
x=std.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [ ]:
import tensorflow.keras as tf

In [ ]:
model=tf.models.Sequential()

In [ ]:
xtrain.shape[1]

10

In [ ]:
model.add(tf.layers.Dense(units=100,activation='relu',input_dim=xtrain.shape[1]))
model.add(tf.layers.Dropout(0.5))

In [ ]:
model.add(tf.layers.Dense(units=100,activation='relu'))
model.add(tf.layers.Dropout(0.5))

In [ ]:
y.unique()

array([0, 1])

In [ ]:
model.add(tf.layers.Dense(units=2,activation='Softmax'))

In [ ]:
model.compile(optimizer='adam',loss=tf.losses.sparse_categorical_crossentropy,metrics=['accuracy'])

In [ ]:
model.fit(xtrain,ytrain,batch_size=10,epochs=25)

Epoch 1/25
72/72 [==============================] - 1s 2ms/step - loss: 0.6620 - accuracy: 0.6461
Epoch 2/25
72/72 [==============================] - 0s 2ms/step - loss: 0.5331 - accuracy: 0.7570
Epoch 3/25
72/72 [==============================] - 0s 2ms/step - loss: 0.5041 - accuracy: 0.7697
Epoch 4/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4934 - accuracy: 0.7809
Epoch 5/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4629 - accuracy: 0.8020
Epoch 6/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4493 - accuracy: 0.8090
Epoch 7/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4711 - accuracy: 0.7865
Epoch 8/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4582 - accuracy: 0.7992
Epoch 9/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8244
Epoch 10/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4371 - accuracy: 0.7992
Epoch 11/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4369 - accuracy: 0.8034
Epoch 12/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4258 - accuracy: 0.8146
Epoch 13/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4453 - accuracy: 0.7963
Epoch 14/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.8132
Epoch 15/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4124 - accuracy: 0.8160
Epoch 16/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4240 - accuracy: 0.8272
Epoch 17/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4117 - accuracy: 0.8258
Epoch 18/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4155 - accuracy: 0.8132
Epoch 19/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4228 - accuracy: 0.8062
Epoch 20/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.8258
Epoch 21/25
72/72 [==============================] - 0s 2ms/step - loss: 0.4243 - accuracy: 0.8216
Epoch 22/25
72/72 [==============================] - 0s 3ms/step - loss: 0.4076 - accuracy: 0.8118
Epoch 23/25
72/72 [==============================] - 0s 3ms/step - loss: 0.4025 - accuracy: 0.8301
Epoch 24/25
72/72 [==============================] - 0s 3ms/step - loss: 0.3960 - accuracy: 0.8188
Epoch 25/25
72/72 [==============================] - 0s 3ms/step - loss: 0.3966 - accuracy: 0.8371

In [ ]:
pred=model.predict(xtest)
pred

array([[1.56848773e-01, 8.43151271e-01],
       [5.90878725e-01, 4.09121245e-01],
       [7.20241308e-01, 2.79758662e-01],
       [9.58143294e-01, 4.18566205e-02],
       [7.65505493e-01, 2.34494492e-01],
       [6.93403125e-01, 3.06596845e-01],
       [5.59120297e-01, 4.40879732e-01],
       [8.85211051e-01, 1.14788897e-01],
       [6.46385133e-01, 3.53614837e-01],
       [8.87773752e-01, 1.12226188e-01],
       [8.85039985e-01, 1.14960067e-01],
       [8.59137833e-01, 1.40862197e-01],
       [9.99360383e-01, 6.39645150e-04],
       [8.30452323e-01, 1.69547662e-01],
       [8.19165945e-01, 1.80834115e-01],
       [9.18384433e-01, 8.16155225e-02],
       [7.04312846e-02, 9.29568648e-01],
       [5.30325651e-01, 4.69674438e-01],
       [7.85995498e-02, 9.21400428e-01],
       [8.15854669e-01, 1.84145331e-01],
       [6.10920072e-01, 3.89079988e-01],
       [2.52178073e-01, 7.47821927e-01],
       [9.66686785e-01, 3.33132446e-02],
       [6.74499869e-01, 3.25500131e-01],
       [7.81952679e-01, 2.18047306e-01],
       [7.67839774e-02, 9.23215985e-01],
       [8.69775057e-01, 1.30224913e-01],
       [1.34489849e-01, 8.65510106e-01],
       [6.88345777e-03, 9.93116498e-01],
       [9.13550496e-01, 8.64495486e-02],
       [2.79647410e-02, 9.72035289e-01],
       [7.43967965e-02, 9.25603271e-01],
       [3.38115543e-01, 6.61884487e-01],
       [9.17255521e-01, 8.27444717e-02],
       [9.02030528e-01, 9.79694501e-02],
       [8.04590702e-01, 1.95409268e-01],
       [8.70714426e-01, 1.29285604e-01],
       [3.19234073e-01, 6.80765927e-01],
       [8.74532521e-01, 1.25467435e-01],
       [7.15208948e-01, 2.84791023e-01],
       [1.14236064e-01, 8.85763943e-01],
       [9.30166721e-01, 6.98332563e-02],
       [1.36453491e-02, 9.86354649e-01],
       [8.64784241e-01, 1.35215685e-01],
       [8.92640114e-01, 1.07359827e-01],
       [9.66052651e-01, 3.39473598e-02],
       [8.24041247e-01, 1.75958782e-01],
       [9.31420207e-01, 6.85797706e-02],
       [8.00415695e-01, 1.99584290e-01],
       [5.85680425e-01, 4.14319575e-01],
       [5.76722741e-01, 4.23277289e-01],
       [8.33058238e-01, 1.66941807e-01],
       [8.89030933e-01, 1.10969029e-01],
       [5.90207636e-01, 4.09792423e-01],
       [1.22436054e-01, 8.77563894e-01],
       [7.13605106e-01, 2.86394894e-01],
       [8.44627857e-01, 1.55372173e-01],
       [8.58322501e-01, 1.41677544e-01],
       [9.00384724e-01, 9.96152759e-02],
       [8.25299859e-01, 1.74700111e-01],
       [7.10282981e-01, 2.89717078e-01],
       [4.56321985e-01, 5.43677986e-01],
       [9.01686132e-01, 9.83138457e-02],
       [5.24940968e-01, 4.75059062e-01],
       [1.21505288e-02, 9.87849414e-01],
       [6.87752187e-01, 3.12247843e-01],
       [9.62098718e-01, 3.79013009e-02],
       [9.06937420e-01, 9.30625498e-02],
       [3.13402474e-01, 6.86597526e-01],
       [8.78182769e-01, 1.21817239e-01],
       [8.58340085e-01, 1.41659975e-01],
       [9.37444210e-01, 6.25558347e-02],
       [9.35841620e-01, 6.41584545e-02],
       [1.82195529e-01, 8.17804456e-01],
       [2.33546905e-02, 9.76645350e-01],
       [1.73797589e-02, 9.82620180e-01],
       [7.00701475e-01, 2.99298555e-01],
       [9.20023322e-01, 7.99766630e-02],
       [9.43069100e-01, 5.69308884e-02],
       [8.75212550e-01, 1.24787420e-01],
       [1.35611326e-01, 8.64388704e-01],
       [7.07334578e-01, 2.92665422e-01],
       [8.42237055e-01, 1.57762900e-01],
       [3.84760462e-02, 9.61523950e-01],
       [2.94470400e-01, 7.05529630e-01],
       [9.48012412e-01, 5.19876666e-02],
       [8.37771535e-01, 1.62228420e-01],
       [3.24755967e-01, 6.75244033e-01],
       [7.00052261e-01, 2.99947739e-01],
       [8.98565173e-01, 1.01434886e-01],
       [8.84126127e-01, 1.15873918e-01],
       [8.94610047e-01, 1.05389938e-01],
       [8.95098031e-01, 1.04901955e-01],
       [1.00328647e-01, 8.99671376e-01],
       [8.47109109e-02, 9.15289104e-01],
       [3.11055273e-01, 6.88944757e-01],
       [9.32007790e-01, 6.79922476e-02],
       [1.84289236e-02, 9.81571138e-01],
       [8.88353527e-01, 1.11646429e-01],
       [8.27992320e-01, 1.72007635e-01],
       [4.04353857e-01, 5.95646083e-01],
       [9.30542685e-03, 9.90694523e-01],
       [8.17861259e-01, 1.82138741e-01],
       [8.64090860e-01, 1.35909081e-01],
       [9.59969521e-01, 4.00305167e-02],
       [5.71115792e-01, 4.28884238e-01],
       [8.51432860e-01, 1.48567066e-01],
       [8.74040067e-01, 1.25959948e-01],
       [1.21201567e-01, 8.78798425e-01],
       [9.30024207e-01, 6.99757859e-02],
       [9.04927194e-01, 9.50728059e-02],
       [1.71007775e-02, 9.82899189e-01],
       [8.51998091e-01, 1.48001879e-01],
       [9.23612118e-01, 7.63878599e-02],
       [8.88168752e-01, 1.11831322e-01],
       [9.43025529e-01, 5.69745451e-02],
       [9.65006888e-01, 3.49930748e-02],
       [5.39587848e-02, 9.46041226e-01],
       [8.97786856e-01, 1.02213085e-01],
       [9.17781174e-01, 8.22187811e-02],
       [3.28357667e-01, 6.71642423e-01],
       [8.58505368e-01, 1.41494602e-01],
       [1.28879324e-01, 8.71120691e-01],
       [4.28541563e-03, 9.95714605e-01],
       [9.13357913e-01, 8.66420269e-02],
       [4.83653158e-01, 5.16346872e-01],
       [8.39871943e-01, 1.60128087e-01],
       [6.48509711e-02, 9.35148954e-01],
       [1.22411989e-01, 8.77588034e-01],
       [5.39976478e-01, 4.60023493e-01],
       [9.95756388e-02, 9.00424361e-01],
       [8.96393418e-01, 1.03606611e-01],
       [5.70469856e-01, 4.29530144e-01],
       [9.43587571e-02, 9.05641258e-01],
       [6.20551109e-01, 3.79448891e-01],
       [1.11197986e-01, 8.88802052e-01],
       [2.28725880e-01, 7.71274149e-01],
       [8.27499866e-01, 1.72500074e-01],
       [2.52111955e-03, 9.97478902e-01],
       [8.21820438e-01, 1.78179532e-01],
       [1.84326380e-01, 8.15673649e-01],
       [8.46227825e-01, 1.53772205e-01],
       [9.02183354e-01, 9.78166908e-02],
       [5.42732894e-01, 4.57267046e-01],
       [9.03170586e-01, 9.68294069e-02],
       [4.14212048e-01, 5.85787952e-01],
       [1.66912377e-02, 9.83308733e-01],
       [1.13074593e-01, 8.86925399e-01],
       [7.05299973e-01, 2.94699967e-01],
       [8.54236305e-01, 1.45763680e-01],
       [9.86080766e-01, 1.39192091e-02],
       [5.81903636e-01, 4.18096274e-01],
       [4.29509878e-01, 5.70490122e-01],
       [7.03114152e-01, 2.96885848e-01],
       [2.79452682e-01, 7.20547378e-01],
       [6.61026174e-03, 9.93389726e-01],
       [4.80880350e-01, 5.19119620e-01],
       [7.59725213e-01, 2.40274712e-01],
       [8.33810389e-01, 1.66189641e-01],
       [5.85348047e-02, 9.41465139e-01],
       [8.17120194e-01, 1.82879776e-01],
       [4.16768909e-01, 5.83231091e-01],
       [7.86774457e-01, 2.13225603e-01],
       [8.51256311e-01, 1.48743719e-01],
       [9.61512029e-01, 3.84878963e-02],
       [9.40886661e-02, 9.05911267e-01],
       [8.71402383e-01, 1.28597647e-01],
       [4.98563439e-01, 5.01436591e-01],
       [8.85595143e-01, 1.14404850e-01],
       [9.17364538e-01, 8.26354548e-02],
       [9.12799478e-01, 8.72005373e-02],
       [7.43597090e-01, 2.56402880e-01],
       [7.92542100e-01, 2.07457945e-01],
       [9.30844724e-01, 6.91552907e-02],
       [7.65444160e-01, 2.34555840e-01],
       [6.12483323e-01, 3.87516707e-01],
       [8.51062477e-01, 1.48937538e-01],
       [8.87846649e-01, 1.12153336e-01],
       [3.17946792e-01, 6.82053208e-01]], dtype=float32)

In [ ]:
import numpy as np
res=np.argmax(pred,axis=1)
res

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1])

In [ ]:
len(pred)

179

In [ ]:
len(res)

179

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,res)

0.8156424581005587

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Melbourne_housing_FULL.csv to Melbourne_housing_FULL.csv

In [ ]:
import pandas as pd
df=pd.read_csv("Melbourne_housing_FULL.csv")

In [ ]:
df

           Suburb             Address  ...             Regionname Propertycount
0      Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3      Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4      Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
...           ...                 ...  ...                    ...           ...
34852  Yarraville         13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville       29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville      147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville    12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville    3 Tarrengower St  ...   Western Metropolitan        6543.0

[34857 rows x 21 columns]

In [ ]:
df.corr()

                  Rooms     Price  ...  Longtitude  Propertycount
Rooms          1.000000  0.465238  ...    0.103235      -0.071677
Price          0.465238  1.000000  ...    0.197874      -0.059017
Distance       0.271511 -0.211384  ...    0.200946      -0.018140
Postcode       0.085890  0.044950  ...    0.362895       0.017108
Bedroom2       0.946755  0.430275  ...    0.106164      -0.053451
Bathroom       0.611826  0.429878  ...    0.106531      -0.032887
Car            0.393878  0.201803  ...    0.047213      -0.009617
Landsize       0.037402  0.032748  ...   -0.002582      -0.018195
BuildingArea   0.156229  0.100754  ...   -0.002143      -0.024523
YearBuilt     -0.012749 -0.333306  ...   -0.022175       0.022420
Lattitude      0.004872 -0.215607  ...   -0.345589       0.011112
Longtitude     0.103235  0.197874  ...    1.000000       0.016326
Propertycount -0.071677 -0.059017  ...    0.016326       1.000000

[13 rows x 13 columns]

In [ ]:
df=df.fillna(method='ffill')
df=df.fillna(method='bfill')

In [ ]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          34857 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34857 non-null  float64
 9   Postcode       34857 non-null  float64
 10  Bedroom2       34857 non-null  float64
 11  Bathroom       34857 non-null  float64
 12  Car            34857 non-null  float64
 13  Landsize       34857 non-null  float64
 14  BuildingArea   34857 non-null  float64
 15  YearBuilt      34857 non-null  float64
 16  CouncilArea    34857 non-null  object
 17  Lattitude      34857 non-null  float64
 18  Longtitude     34857 non-null  float64
 19  Regionname     34857 non-null  object
 20  Propertycount  34857 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [ ]:
df=df.drop('Propertycount',axis=1)

KeyError: ignored

In [ ]:
df=df.drop('Suburb',axis=1)

In [ ]:
df['Type']=le.fit_transform(['Type'])

ValueError: ignored

In [ ]:
df['Suburb']=le.fit_transform(['Suburb'])

ValueError: ignored